<div class="generator">
    <h2>HTML &lt;form&gt; code</h2> 
    {{!-- https://stackoverflow.com/questions/32480227/creating-a-raw-html-component-in-ember-2-0 --}}    
    <CopyButton @text={{this.formcode}}> 
        Click here to copy code shown below to your clipboard m(
    </CopyButton>
    <pre><code>{{ this.formcode }}</code></pre>    
</div>
