<div class="creator">
    <h2>Customise your form here</h2>

    [ Add Button ] [ Add ... ]

<p>TODO: Have {{this.count}} components here</p>
<button type="button" {{on "click" (fn this.change 1)}}>+1</button>
<button type="button" {{on "click" (fn this.change -1)}}>-1</button>

    <FormGenerator @count={{this.count}} />

</div>