<div class="generator">
    <h2>HTML &lt;form&gt; code</h2> 
    {{!-- https://stackoverflow.com/questions/32480227/creating-a-raw-html-component-in-ember-2-0 --}}
    <pre>
        [ COPY TO CLIPBOARD ] [ DOWNLOAD ] 
        ~~~~~
        Count: {{this.count}}
        ~~~~~
        <code>{{ this.formcode }}</code>
        ~~~~~
        EOF
    </pre>
</div>
